.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .btn-prev {
    position: absolute;
    left: 0;
    top: 40%;
  }

  .btn-next {
    position: absolute;
    right: 0;
    top: 40%;
  }

  img {
    width: 100%;
    max-height: 93vw;
  }

  button {
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .carousel {
    img {
      width: 100%;
      max-height: 500px;
    }
  }
}