<figure>
  <img src="assets/logo.png" alt="App Loge" />
</figure>
<mat-card>
  <h2 class="mat-h3">Hi, please log in to the platform!</h2>
  <form [formGroup]="loginFrom" (ngSubmit)="login($event)">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error>Invalid email</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword() ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="onClickHide($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword()"
        >
          <mat-icon>{{
            hidePassword() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <button mat-raised-button color="primary" type="submit">Enter</button>
    <div class="signup">
      <span>Don't have an account?</span>
      <a  mat-button routerLink="/auth/sign_up" >Sign up now</a>
    </div>
  </form>
</mat-card>
