<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img
        [src]="post()?.user?.userImageUrl"
        onerror="this.src='assets/default-user.jpeg'"
        alt="User picture that belong the post"
      />
    </div>
    <mat-card-title>{{ post()?.user?.name }}</mat-card-title>
    <mat-card-subtitle>{{ "@" + post()?.user?.userName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>

  <app-carousel [images]="images()"></app-carousel>

  @if (post()?.description) {
  <mat-divider></mat-divider>
  <mat-card-actions>
    <p><strong>{{post()?.amountOfLikes || 0}}</strong><small> likes</small></p>
    <button
        type="button"
        mat-icon-button
        [attr.aria-label]="'like'"
        (click)="handleLike()"
      >
        <mat-icon>{{post()?.liked? 'favorite' : 'favorite_outline'}}</mat-icon>
      </button>
      <button
        type="button"
        mat-icon-button
        [attr.aria-label]="'See comments'"
      >
        <mat-icon>comment_outline</mat-icon>
      </button>
  </mat-card-actions>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      <b>{{post()?.user?.name}}</b> {{ post()?.description }}
    </p>
    @if(post()?.amountOfComments != 0 ){
      <button mat-button>View all {{post()?.amountOfComments}} comments</button>
    }
  </mat-card-content>
  }
  <mat-card-footer [class]="post()?.amountOfComments != 0? '' :'mt-5'">
    <mat-form-field>
      <mat-label>Add comment</mat-label>
      <input  matInput
      type="text"
      placeholder="Write a comment to your friend...."
      [formControl]="commentForm" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        [disabled]="commentForm.value?.trim()?.length == 0"
        (click)="addComment($event)"
        [attr.aria-label]="'Send comment'"
      >
        <mat-icon>send</mat-icon>
      </button>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
  </mat-card-footer>
</mat-card>
