<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img
        [src]="post()?.user?.userImageUrl"
        onerror="this.src='assets/default-user.jpeg'"
        alt="User picture that belong the post"
      />
    </div>
    <mat-card-title>{{ post()?.user?.name }}</mat-card-title>
    <mat-card-subtitle>{{ "@" + post()?.user?.userName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>

  <app-carousel [images]="images()" onerror="this.src='assets/default-post.jpg'"></app-carousel>

  @if (post()?.description) {
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      <b>{{post()?.user?.name}}</b> {{ post()?.description }}
    </p>
  </mat-card-content>
  }
</mat-card>
