figure {
  margin: 0;
  padding: 0;
}

mat-drawer-container {
  height: 100%;

  mat-drawer {
    padding: 1%;
    width: 200px;

    img {
      max-width: 160px;
      margin-bottom: -10px;
      margin-top: -30px;
    }

    button {
      display: block;
    }
  }

  mat-drawer-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
}

.content{
  margin: 16% 0;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 120px;
    margin-bottom: -10px;
  }

  mat-form-field {
    margin-top: 20px;
  }
}

mat-option{
  a {
    text-decoration: none;
    color: inherit;
    p {
      margin: 0;
    }
  }
}

.buttom_toolbar {
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .header {
    mat-form-field {
      width: 350px;
    }
  }
  .content{
    margin: 9% 0;
  }
}

@media (min-width: 1024px) {
  .header {
    justify-content: flex-end;
  }
  .content{
    margin: 0;
    margin-top: 80px;
  }
}