mat-toolbar{
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  mat-form-field{
    margin-top: 20px;
  }
}
figure {
  margin: 0;
  padding: 0;
  img{
    max-width: 120px;
    margin-bottom: -10px;
  }
}