section {
  display: flex;
  align-items: center;
  padding: 10px;
  figure{
    margin: 0;
    margin-right: 20px;
    max-width: 70px;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .statistics {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    p{
      margin: 0;
      margin-right: 20px;
    }
  }
}

.posts {
  margin:10px;
  img{
    width: 100%;
  }
}

@media (min-width:768px) {
  section {
    figure{
      max-width: 150px;
    }
  }
}