<section>
  <figure >
    <img
      [src]="this.user()?.userImageUrl"
      onerror="this.src='assets/default-user.jpeg'"
      alt="user profile picture"
    />
  </figure>
  <div>
    <h2>{{this.user()?.userName}}</h2>
    <div class="statistics">
      <p>{{posts().length}} posts</p>
      <p>{{0}} followers</p>
      <p>{{0}} following</p>
    </div>
    <h4>{{this.user()?.name}}</h4>
  </div>
</section>

<mat-divider></mat-divider>
<mat-grid-list class="posts" cols="3" rowHeight="2:1.5">
  @for (post of posts(); track $index) {
  <mat-grid-tile>
    <img [src]="post.postAttachments[0]?.url" onerror="this.src='assets/default-post.jpg'" alt="post image created by user" />
  </mat-grid-tile>
  }
</mat-grid-list>
