<section>
  <figure>
    <img
      [src]="this.user()?.userImageUrl"
      onerror="this.src='assets/default-user.jpeg'"
      alt="user profile picture"
    />
  </figure>
  <div>
    <h2>{{ this.user()?.userName }}</h2>
    @if (!isAuthUserProfile() && !isFollowing) {
      <button mat-flat-button>Follow</button>
    } @else if(!isAuthUserProfile() && isFollowing) {
      <button mat-stroked-button>Following</button>
    }
    <div class="statistics">
      <p>{{ posts().length }} posts</p>
      <p>{{ followers().length }} followers</p>
      <p>{{ following().length }} following</p>
    </div>
    <h4>{{ this.user()?.name }}</h4>
  </div>
</section>

<mat-divider></mat-divider>
<mat-grid-list class="posts" cols="3" rowHeight="2:1.5">
  @for (post of posts(); track $index) {
  <mat-grid-tile (click)="openPost(post.id)">
    <div class="mat-grid-tile-img-container">
      <img
        [ngSrc]="post.postAttachments[0]?.url || 'assets/default-post.jpg'"
        onerror="this.src='assets/default-post.jpg'"
        alt="post image created by user"
        fill
        priority
      />
      @if(post.postAttachments.length > 1){
      <mat-icon>web_stories</mat-icon>
      }
    </div>
  </mat-grid-tile>
  }
</mat-grid-list>
